<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252"></head><body><div class="middle-box text-center loginscreen  animated fadeInDown">
    <div ng-controller="login">
        <div>
            <img alt="image" src="img/logo_informatics.jpg" height="250" width="200" />
        </div>
        <h2>Welcome to Informatics Engineering</h2>
        <p><u>Please Login with Biological Identity (Finger Print, Face Recognition) or RFID</u></p>
        <div>
            <img alt="image" src="img/waiting.gif" height="50" width="50" />
        </div>
        <p class="m-t"> <small>Institut Teknologi Sepuluh Nopember Surabaya</small> </p>
    </div>
</div></body>
    <script type="text/javascript"></script>
</html>